<h2 class="titulo"> Contacto </h2>
<form [formGroup]="contactForm" (ngSubmit)="enviar()">
    <label> Nombre: </label>
    <input
      type="text"
      formControlName="nombre"
      [class.invalid]="nombre?.invalid && (nombre?.touched || nombre?.dirty)"
      [class.valid]="nombre?.valid && (nombre?.touched || nombre?.dirty)">
    <div *ngIf="nombre?.invalid && (nombre?.touched || nombre?.dirty)">
        <small *ngIf="nombre?.errors?.['required']">El nombre es obligatorio</small>
        <small *ngIf="nombre?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres</small>
    </div>
    <br><br>
    <label> Correo: </label>
    <input
      type="email"
      formControlName="correo"
      [class.invalid]="correo?.invalid && (correo?.touched || correo?.dirty)"
      [class.valid]="correo?.valid && (correo?.touched || correo?.dirty)">
    <div *ngIf="correo?.invalid && (correo?.touched || correo?.dirty)">
        <small *ngIf="correo?.errors?.['required']">El correo es obligatorio</small>
        <small *ngIf="correo?.errors?.['email']">Correo inválido</small>
    </div>
    <br><br>
    <label> Mensaje: </label>
    <textarea
      formControlName="mensaje"
      [class.invalid]="mensaje?.invalid && (mensaje?.touched || mensaje?.dirty)"
      [class.valid]="mensaje?.valid && (mensaje?.touched || mensaje?.dirty)"></textarea>
    <div *ngIf="mensaje?.invalid && (mensaje?.touched || mensaje?.dirty)">
        <small *ngIf="mensaje?.errors?.['required']">El mensaje es obligatorio</small>
        <small *ngIf="mensaje?.errors?.['minlength']">El mensaje debe tener al menos 10 caracteres</small>
    </div>
    <br><br>
    <button type="submit" [disabled]="contactForm.invalid"> Enviar </button>
</form>